main h1 a {
    text-decoration:none;
    color:rgb(252, 187, 8);
}
#idnameofdiv{
    margin: 0 auto;
    
}
h1{
    padding-bottom: 32px 
    font-family: cursive;
}
p{
    text-shadow: 2px 2px 5px rgba(250, 250, 250, 0.9);
    font-size: 16px;
    font-family: cursive;
}
body{
    padding: 10%;
    background-color: rgba(240, 240, 240, 0.9);
}